@import 'projects/administration-portal/src/app/scss/abstracts/variables';

.confection-table {
	&__toolbar {
        display: block;
        margin: 0px 0px 35px 0px;
    }

    &__wrapper {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

	&__table { 
        width: 100%;
        min-width: 720px;
        border-collapse: collapse;
    
        font-size: 1rem;
        text-align: left;
        line-height: 1.5;
        color: $dark-gray;
    }

	&__header {  
        border-bottom: 2px solid $lightest-gray;

        th {
            padding: 0.75rem;
            vertical-align: bottom;
        }
    }

    &__body { 
        tr {
            transition: background-color 0.45s ease 0s;

            &:hover {
                background-color: $lightest-gray-alfa;
            }
        }

        td {
            font-size: 0.9375rem;
            font-weight: 300;
            padding: 1rem 0.75rem;
        } 
    }
    
	&__checkbox {
        margin-bottom: 25px;
    }

    &__controls { 
        display: flex;

        button {
            margin-left: 7px;
        }
    }
}

.product-details {
    display: inline-flex;

    &__image { 
        width: 65px;
        height: 65px;
        overflow: hidden;


            border-radius: 5px;
        
    }

	&__text { 
        padding: 0px 0px 0px 1rem;

        h3 {
            font-size: 1rem;
            font-weight: 500;

            margin: 0px 0px 0.3em 0px;
        }
    }
}

.category {
    padding: 4px 12px;
    border-radius: 5px;

    &--сakes {
        background: #cff6dd;
        color: #1fa750;
    }

    &--desserts { }

    &--tartelettes { }

    &--marshmallow { }

    &--marmalade { }
}