<div class="confection-table">
  <app-confection-list-toolbar 
    class="confection-table__toolbar"
    (searchChanged)="onSearchChanged($event)"
  ></app-confection-list-toolbar>

  <div *ngIf="confections.length && !isLoading" class="confection-table__wrapper">
    <table class="confection-table__table">
      <thead class="confection-table__header">
        <tr class="confection-table__row">
          <th></th>
          <th>Product Details</th>
          <th>Category</th>
          <th>Price</th>
          <th>Limits</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="confection-table__body">
        <tr 
          class="confection-table__row"
          *ngFor="let confection of confections"
        >
          <td>
            <label class="confection-table__checkbox checkbox">
              <input class="checkbox__input" type="checkbox">
              <div class="checkbox__indicator"></div>
            </label>
          </td>
          <td>
            <div class="confection-table__product-details product-details">
              <div class="product-details__image _ibg">
                <img 
                  *ngIf="confection.pictures[0] as picture; else noPictureFound" 
                  [src]="picture.url" 
                  [alt]="picture.shortName"
                >
                <ng-template #noPictureFound>
                  <img src="/assets/images/no_image_available.png" alt="Нет картинки">
                </ng-template>
              </div>
              <div class="product-details__text">
                  <h3>{{ confection.name }}</h3>
                  <p>{{ confection.description }}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="confection-table__category">
              <span 
                class="category "
                [ngClass]="computeCategoryClass(confection.confectionType)"
              >{{ computeConfectionTitle(confection.confectionType) }}</span>
            </div>
          </td>
          <td>{{ confection.price | currency: 'BYN' }}</td>
          <td>
            <span *ngIf="confection.isOrderCountLimited; else noCountOrderLimit">
              {{ confection.minimumOrderCount }}
            </span>
            <ng-template #noCountOrderLimit>
              {{ noneNumber }}
            </ng-template>
          </td>
          <td>{{ confection.weight }} г.</td>
          <td>
            <div class="confection-table__controls">
              <button class="btn">Edit</button>
              <button class="btn">More</button>
            </div>
          </td>
        </tr>
    </table>
  </div>
</div>