<article 
  class="pie-view" 
  *ngIf="!pieService.isLoading && pieService.selectedPie as pie; else pieLoading"
>
  <div class="pie-view__row">
    <div class="pie-view__image">
      <img [src]="pie.imageUrl" alt="pie">
    </div>
    <div class="pie-view__body">
      <h3 class="pie-view__title">{{ pie.name }}</h3>
      <span class="pie-view__parameters">
        <div class="pie-view__weight">2200</div>
        <div class="pie-view__portions">{{ pie.minimumPortions }}-{{ pie.maximumPortions }} порций</div>
      </span>
      <div class="pie-view__details">
        <ul class="nav-tab pie-view__pivot">
          <li class="nav-tab__item">
            <a class="nav-tab__link">Описание</a>
          </li>
        </ul>
        <div class="pie-view__description">
          <p>{{ pie.description }}</p>
        </div>
      </div>
      <div class="pie-view__price">
        <p class="pie-view__price--lable">За единицу</p>
        {{ pie.price }} р.
      </div>
      <form class="pie-view__form">
        <div class="pie-view__quantity-counter">
          <input 
            type="number" 
            [(ngModel)]="pieCount"
            name="quantity-counter"
          >
        </div>
        <button 
          type="button" 
          class="pie-view__order-button"
          (click)="orderPie()"
        >ЗАКАЗАТЬ ТОВАР</button>
      </form>
    </div>
  </div>
</article>

<ng-template #pieLoading>
  <p>Товары загружаются...</p>
</ng-template>

<app-popup *ngIf="isDisplayModal" title="Заказать продукт">
  <app-order-pie 
    [productId]="pieId" 
    [quantityOrder]="pieCount"
  ></app-order-pie>
</app-popup>
