<div class="confection-list">
  <div class="confection-list__container _container">
    <h1 class="confection-list__title title">Продукты</h1>

    <app-confection-table 
      class="confection-list__confection-table"
      [confections]="paginatedConfections.items"
      [isLoading]="isLoading"
      (searchChanged)="onSearchChanged($event)"
    ></app-confection-table>

    <app-pagination 
      class="confection-list__pagination"
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [totalCount]="totalCount"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>

    <app-popup *ngIf="isDisplayCreatationModal" title="Добавить продукт">
      <app-create-confection></app-create-confection>
    </app-popup>
  </div>
</div>