<header class="header">
  <div class="header__content _container">
    <div class="header__menu menu">
      <div class="menu__icon icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li>
            <a routerLink="/orders" class="menu__link">Заказы</a>
          </li>
          <li>
            <a routerLink="/confections" class="menu__link">Продукты</a>
          </li>
          <li>
            <a routerLink="/clients" class="menu__link">Клиенты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>