<header class="header">
  <div class="header__content _container">
    <div class="header__menu menu">

      <div 
        class="menu__icon icon-menu" 
        [ngClass]="{ 'active': isMenuOpened }"
        (click)="openBurgerMenu()"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav 
        class="menu__body"
        [ngClass]="{ 'active': isMenuOpened }"
      >
        <ul class="menu__list">
          <li>
            <a 
              class="menu__link"
              (click)="navigateTo('/orders')"
            >Заказы</a>
          </li>
          <li>
            <a 
              class="menu__link" 
              (click)="navigateTo('/confections')"
            >Продукты</a>
          </li>
          <li>
            <a 
              class="menu__link" 
              (click)="navigateTo('/clients')"
            >Клиенты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>