$light-orange: #fbc88c !default;
$golden-color: #eac994 !default;

$bacis-white: white !default;

$light-gray: rgb(245, 246, 246) !default;
$shadow-gray: #ccc !default;
$transparent-gray: rgba(216, 216, 216, 0.445) !important;

$dark-brown : #212121 !default;