<div class="confection-card"> 
  <div class="confection-card__image">
    <a (click)="openProductDetail()">
      <img [src]="confection.imageUrl" [alt]="confection.name"> 
    </a>
  </div>

  <app-badge 
    class="confection-card__badge"
    *ngIf="confection.isOrderCountLimited" 
    [badgeText]="computeBadgeLimitationText()"
    badgeTheme="default"
  ></app-badge>
  
  <a class="confection-card__title" (click)="openProductDetail()">{{ confection.name }}</a>

  <div class="confection-card__details card-details">
    <div class="card-details__price-section price-section">
      <div class="price-section__price">{{ confection.price }} р.</div>
      <div class="price-section__action">
        <span class="price-section__lable">Вес (за)</span>
        <span class="price-section__weight">{{ confection.weight }} гр</span>
      </div>
    </div>

    <button 
      class="card-details__order-button"
      (click)="openProductDetail()"
    >ЗАКАЗАТЬ</button>
  </div>
</div> 
