@import 'abstracts/variables';
@import 'components/buttons';

.confection-card {
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;

    &__image {
        padding-bottom: 100%;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    &__badge {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__title {
        display: inline-block;
        margin: .5rem 0px 1rem 0px;
        cursor: pointer;

        &:hover {
            color: $light-orange;
            transition: 0.3s ease-in-out;
        }
    }

    &__details {
        margin-bottom: .5rem;
    }
}

.card-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__order-button { }
}

.price-section {
	&__price { }
	&__action { 
        display: flex;
        flex-direction: column;
        color: #6e6e6e;
        font-weight: 300;
        font-size: .875rem;

        display: none;
    }
	&__weight { }
	&__portions { }
}

.confection-card:hover .price-section__price {
    display: none;
}

.confection-card:hover .price-section__action {
    display: flex;
}