<div class="order-table">
  <app-order-table-toolbar
    class="order-table__toolbar"
    (onSearch)="search($event)">
  </app-order-table-toolbar>

  <div *ngIf="orders.length && !isLoading" class="order-table__wrapper">
    <table class="order-table__table">
      <thead class="order-table__header">
        <tr class="order-table__row">
          <th></th>
          <th>Order ID</th>
          <th>Customer</th>
          <th>Product</th>
          <th>Status</th>
          <th>Created </th>
          <th>Count </th>
          <th>Total Price </th>
        </tr>
      </thead>
      <tbody class="order-table__body">
        <tr 
          class="order-table__row"
          *ngFor="let order of orders"
        >
          <td>
            <label class="order-table__checkbox checkbox">
              <input class="checkbox__input" type="checkbox">
              <div class="checkbox__indicator"></div>
            </label>
          </td>
          <td>{{ order.id | uppercase | slice:0:8 }}</td>
          <td>{{ order.customerName }}</td>
          <td>{{ order.productName }}</td>
          <td>
            <div class="order-table__status">
              <span 
                class="status" 
                [ngClass]="computeStatusClass(order.status)"
              >{{ computeStatusTitle(order.status) }}</span>
            </div>
          </td>
          <td>{{ order.createdDate | date }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ calculateTotalPrice(order) | currency: 'BYN' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>