@import 'projects/administration-portal/src/app/scss/abstracts/variables';

.order-table {  
    &__toolbar {
        display: block;
        margin: 0px 0px 35px 0px;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
    
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
        color: $medium-gray;
    }

    &__column {
        //todo: highlight columns
        &--highlighted {
            color:$dark-gray;
        }
    }

	&__header {  
        border-bottom: 2px solid $lightest-gray;

        th {
            padding: 0.75rem;
            vertical-align: bottom;
        }
    }

    &__body { 
        tr {
            transition: background-color 0.45s ease 0s;

            &:hover {
                background-color: $lightest-gray-alfa;
            }
        }

        td {
            font-size: 0.9375rem;
            font-weight: 300;
            padding: 1rem 0.75rem;
        } 
    }

    &__checkbox {
        margin-bottom: 25px;
    }
}

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;

    &__input {
        display: none;
    }

    &__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        border: 2px solid #ccc;
        background: transparent;
    
        &:after {
            content: '';
            position: absolute;
            display: none;
            transform: rotate(45deg);
            height: 17px;
            width: 9px;
            margin: -2px 0px 4px 4px;
            border-bottom: 3.5px solid white;
            border-right: 3.5px solid white
        }
    }

    &__input:checked ~ &__indicator {
        border: 2px solid #007bff;
        background: #007bff;
    }

    &__input:checked ~ &__indicator:after {
        display: block;
        color: white;
    }
}