<!-- <div class="controls">
  <div class="controls__row"> 
    <div class="controls__title">ТОРТЫ</div>
    <div class="controls__search">
      <input 
        type="search"
        class=""
        placeholder="Введите текст поиска..."
        [(ngModel)]="term"
      >
    </div>
  </div>
</div>   -->

<div class="confection-section">
  <div class="confection-section__header">
    <div class="confection-section__title">{{ sectionTitle }}</div>
  </div>
  <div class="confection-section__body">
    <app-confection-card
      class="confection-section__item"
      *ngFor="let confection of confections; let i = index"
      [confection]="confection"
    ></app-confection-card>
</div>

<!-- <app-confection-card
  class="confection-section__item"
  *ngFor="let confection of confections | filterConfections: term; let i = index"
  [confection]="confection"
></app-confection-card> -->