<div class="menu menu--sticky">
  <div class="container">
    <div class="menu__row">
      <a class="menu__icon icon" routerLink="/catalog">
        <img class="icon__img" src="../../../assets/images/logo_7.png" alt="logo">
      </a>

      <div 
        class="menu__burger" 
        [ngClass]="{'active': isMenuOpened}"
        (click)="openBurgerMenu()"
      >
        <span></span>
      </div>

      <div class="menu__cart"></div>

      <nav  
        class="menu__body"
        [ngClass]="{'active': isMenuOpened}"
      >
        <ul class="menu__list">
          <li>
            <a 
              class="menu__link"
              (click)="navigateTo('/catalog', 'cakes')"
            >Торты</a>
          </li>
          <li>
            <a 
              class="menu__link"
              (click)="navigateTo('/catalog', 'desserts')"
            >Пирожные</a>
          </li>
          <li>
            <a 
              class="menu__link"
              (click)="navigateTo('/catalog', 'tartelettes')"
            >Тарталетки</a>
          </li>
          <li>
            <a 
              class="menu__link"
              (click)="navigateTo('#')"
            >Зефир</a>
          </li>
          <li>
            <a 
              class="menu__link"
              (click)="navigateTo('#')"
            >Ещё..</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>