.menu {
    background-color: #212121;
    z-index: 1;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        height: 4.375rem;
    }

    &__body {
        margin-left: 2rem;
    }

    &__link {
        color: #e5e5e5;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: -0.3px;
        text-transform: none;

        margin: 0 10px 10px 10px;
        cursor: pointer;

        &:hover {
            color: orange;
            border-bottom: 3px solid orange; ;
        }
    }

    &--sticky {
        position: sticky;
        top: 0;
    }
}

.icon {
    &__img {
        height: 40px;
        width: auto;
    }
}