@import 'abstracts/variables';
@import 'components/buttons';

.product-item {
    font-size: 1.25rem;
    font-weight: 500;

    &__image {
        padding-bottom: 100%;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    &__title {
        display: inline-block;
        margin: .5rem 0px 1rem 0px;
        cursor: pointer;

        &:hover {
            color: $light-orange;
            transition: 0.3s ease-in-out;
        }
    }

    &__details {
        margin-bottom: .5rem;
    }
}

.product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__price {}

    &__portions {
        color: #6e6e6e;
        font-weight: 300;
        font-size: .85rem;

        display: none;
    }

    &__order-button { 
        @extend %deault-button;
    }
}

.product-item:hover .product-details__price {
    display: none;
}

.product-item:hover .product-details__portions {
    display: block;
}