<div class="product grid border place-items-center"> 
  <h2 class="product__title mb-2">{{ pie.name }}</h2>
  <img class="product__image w-2/3 mb-1/2" [src]="pie.imageUrl" [alt]="pie.name">
  <p class="product__price">Price: <span>{{ pie.price | currency }}</span></p>

  <button  
    mat-button color="primary"
    [ngClass]="{
      'font-bold': !isDetails,
      'font-normal': isDetails
    }"
    (click)="isDetails = !isDetails" 
  >
    {{ isDetails ? 'Hide' : 'Show' }} Details
  </button>

  <div *ngIf="isDetails">
   <p 
    class="product__description p-5"
   >{{ pie.description }}</p>
  </div>
</div> 
