<div 
  class="order-preview"
  *ngIf="!pieService.isLoading && pieService.selectedPie as pie"
>
  <div class="order-preview__row">
    <div class="order-preview__image">
      <img [src]="pie.imageUrl" alt="preview image">
    </div>
    <div class="order-preview__body">
      <div class="order-preview__sublines">
        <div class="order-preview__title">
          <span>{{pie.name}}</span>
        </div>
        <div class="order-preview__count">
          <span class="order-preview__lable">Кол-во: </span> 
          <span>{{quantityOrder}} шт.</span> 
        </div>
        <div class="order-preview__price">
          <span class="order-preview__lable">Цена: </span>
          <span>{{pie.price}} р.</span>
        </div>
      </div>
      
      <div class="order-preview__total-line">
        <span class="order-preview__lable">К оплате: </span>
        <span>{{pie.price * quantityOrder}} р.</span>
      </div>
    </div>
  </div>
</div>

<form 
  class="form" 
  [formGroup]="form" 
  (ngSubmit)="order"
>
  <input 
    type="text" 
    class="form__input"
    placeholder="ФИО*"
    formControlName="name"
  >

  <div *ngIf="name.touched && name.invalid">
    <p class="error-message" *ngIf="name.errors!['required']">Пожалуйста, введите ваше имя</p>
  </div>

  <input 
    type="email" 
    class="form__input"
    placeholder="Электронная почта*"
    formControlName="email"
  >

  <div *ngIf="email.touched && email.invalid">
    <p class="error-message" *ngIf="email.errors!['required']">Пожалуйста, введите адрес вашей электронной почты</p>
    <p class="error-message" *ngIf="email.errors!['email']">Введён неверный адрес электронной почты</p>
  </div>

  <input 
    type="text" 
    class="form__input"
    placeholder="Инстаграм"
    formControlName="instagramProfile"
  >

  <input 
    type="tel" 
    class="form__input"
    placeholder="Мобильный телефон*"
    maxlength="12"
    formControlName="mobileNumber"
  >

  <div *ngIf="mobileNumber.touched && mobileNumber.invalid">
    <p class="error-message" *ngIf="mobileNumber.errors!['required']">Пожалуйста, введите номер вашего телефона</p>
    <p class="error-message" *ngIf="mobileNumber.errors!['pattern']">Введён неверный номер телефона</p>
  </div>

  <button 
    type="submit"
    class="form__button"
    [disabled]="!form.valid"
    (click)="order()"
  >ЗАКАЗАТЬ</button>
</form>