<div 
  class="preview-details"
  *ngIf="!pieService.isLoading && pieService.selectedPie as pie"
>
  <div class="preview-details__row">
    <div class="preview-details__image">
      <img [src]="pie.imageUrl" alt="preview image">
    </div>
    <div class="preview-details__body">
      <div class="preview-details__sublines">
        <div class="preview-details__title">
          <span class="preview-details__lable">Наименование:</span> {{pie.name}}
        </div>
        <div class="preview-details__count">
          <span class="preview-details__lable">Кол-во:</span> {{quantityOrder}} 
        </div>
        <div class="preview-details__price">
          <span class="preview-details__lable">Цена:</span> {{pie.price}} р.
        </div>
      </div>
      
      <div class="preview-details__total-line">Итоговая сумма: {{pie.price * quantityOrder}} р.</div>
    </div>
  </div>
</div>

<form 
  class="form" 
  [formGroup]="form" 
  (ngSubmit)="order"
>
  <input 
    type="text" 
    class="form__input"
    placeholder="ФИО"
    formControlName="name"
  >

  <div *ngIf="name.touched && name.invalid">
    <p class="error-message" *ngIf="name.errors!['required']">Пожалуйста, введите ваше имя</p>
  </div>

  <input 
    type="email" 
    class="form__input"
    placeholder="Электронная почта"
    formControlName="email"
  >

  <div *ngIf="email.touched && email.invalid">
    <p class="error-message" *ngIf="email.errors!['required']">Пожалуйста, введите адрес вашей электронной почты</p>
    <p class="error-message" *ngIf="email.errors!['email']">Введён неверный адрес электронной почты</p>
  </div>

  <input 
    type="text" 
    class="form__input"
    placeholder="Мобильный телефон"
    maxlength="12"
    formControlName="mobileNumber"
  >

  <div *ngIf="mobileNumber.touched && mobileNumber.invalid">
    <p class="error-message" *ngIf="mobileNumber.errors!['required']">Пожалуйста, введите номер вашего телефона</p>
    <p class="error-message" *ngIf="mobileNumber.errors!['pattern']">Введён неверный номер телефона</p>
  </div>

  <button 
    type="submit"
    class="form__button"
    [disabled]="!form.valid"
  >ЗАКАЗАТЬ</button>
</form>