<div class="payment">
  <div class="payment__content">
    <h2 class="payment__title title-underlined">Оплата</h2>
    <div class="payment__text text">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam ipsam cumque suscipit,
        voluptatem repellendus maxime! Corporis eligendi mollitia obcaecati a quisquam ipsum doloremque 
        exercitationem! Aut tempora provident cum beatae architecto.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione placeat deserunt incidunt 
        libero sapiente culpa voluptatum voluptas autem nostrum neque quibusdam labore, alias eligendi laudantium, 
        odit minus! Mollitia, sunt perspiciatis! Similique debitis at vero facilis ratione, sapiente tempora cupiditate
        deleniti velit consequuntur suscipit harum maiores reiciendis laudantium recusandae, sunt impedit.
      </p>
    </div>
  </div>
</div>
