<div 
  class="confection-catalog"
  *ngIf="confectionMappings"
>
  <div 
    class="confection-catalog__content"
    *ngFor="let confectionMapping of confectionMappings"
  >
    <app-confection-section 
      [id]="computeSectionRoute(confectionMapping.confectionType)"
      [confectionType]="confectionMapping.confectionType" 
      [confections]="confectionMapping.confections"
    ></app-confection-section>
  </div>
</div>

<app-no-product-found *ngIf="!isLoading && !confectionMappings.length"></app-no-product-found>

<!-- <div *ngIf="confections | filterConfections: term as filteredConfections">
  <app-no-product-found *ngIf="!isLoading && filteredConfections.length === 0"></app-no-product-found>
</div> -->

<app-scroll-sidebar></app-scroll-sidebar>