<div 
  class="confection-catalog"
  *ngIf="confectionMappings"
>
  <div 
    class="confection-catalog__content"
    *ngFor="let confectionMapping of confectionMappings"
  >
    <app-confection-section 
      [id]="computeSectionRoute(confectionMapping.confectionType)"
      [confectionType]="confectionMapping.confectionType" 
      [confections]="confectionMapping.confections"
    ></app-confection-section>
  </div>
</div>

<app-no-product-found *ngIf="!isLoading && !confectionMappings.length"></app-no-product-found>

<!-- <div *ngIf="confections | filterConfections: term as filteredConfections">
  <app-no-product-found *ngIf="!isLoading && filteredConfections.length === 0"></app-no-product-found>
</div> -->

<app-scroll-sidebar></app-scroll-sidebar>

<app-popup *ngIf="isDisplayModal" title="Добавить продукт">
  <app-create-confection></app-create-confection>
</app-popup>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
  (click)="displayModal()"
>+</button>