<section class="toolbar">
  <div class="toolbar__row">
    <div class="toolbar__search search">
      <img class="search__image" src="/assets/icons/search.png"/>
      <input 
        type="search"
        class="search__input" 
        [(ngModel)]="searchTerm" 
        (input)="search()"
        placeholder="Поиск по Идентификатору, Email, Продукту и другому"
      />
    </div>

    <div class="toolbar__controls">
      <div class="toolbar__actions">    
        <button class="toolbar__btn btn-icon">
          <img src="/assets/icons/filter.png">
          Фильтр
        </button>
        <button class="toolbar__btn btn-icon">
          <img src="/assets/icons/attachment.png">
          Прикрепить
        </button>
        <button class="toolbar__btn btn-icon">
          <img src="/assets/icons/export.png">
          Экспорт
        </button>
      </div>

      <div class="toolbar__dropdown">
        <div class="dropdown">
          <button class="dropdown__btn btn-icon">
            <img src="/assets/icons/more.png">
            Ещё
          </button>
          <div class="dropdown__menu">
            <ul>
              <li>
                <a href="#">
                  <img src="/assets/icons/filter.png">
                  <span>Фильтр</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/icons/attachment.png">
                  <span>Прикрепить</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/icons/export.png">
                  <span>Экспорт</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>