<section class="toolbar">
  <div class="toolbar__row">
    <div class="toolbar__search search">
      <img class="search__image" src="/assets/icons/search.png"/>
      <input placeholder="Поиск по Идентификатору, Email, Продукту и другому" class="search__input"/>
    </div>

    <div class="toolbar__controls">
      <button class="toolbar__dropdown btn-icon">
        <img src="/assets/icons/more.png">
        Ещё
      </button>
      <div class="toolbar__actions">    
        <button class="toolbar__btn btn-icon">
          <img src="/assets/icons/filter.png">
          Фильтр
        </button>
        <button class="toolbar__btn btn-icon">
          <img src="/assets/icons/attachment.png">
          Прикрепить
        </button>
        <button class="toolbar__btn btn-icon">
          <img src="/assets/icons/export.png">
          Экспорт
        </button>
      </div>
    </div>
  </div>
</section>