@import 'projects/administration-portal/src/app/scss/abstracts/variables';

.toolbar {
    background-color: #fbfbfb;
    border-radius: 7px;

    &__row {
        display: flex;
        align-items: center;
        padding: 11.5px 25px;
    }

    &__search { 
        margin: 0px 25px 0px 0px;
        flex: 1 1 auto;
    }

    &__controls {
        display: flex;
        justify-content: space-between;

        flex: 0 1 34%;
    }
}