@import 'projects/administration-portal/src/app/scss/abstracts/variables';

.order-list {
	&__container { 
        margin-top: 15px;
    }

	&__title { 
        margin: 0px 0px 15px 0px;
    }

	&__tab-menu { 
        margin: 0px 0px 25px 0px;
    }

	&__toolbar { 
        background-color: #fbfbfb;
        border-radius: 5px;
    }
}

.tab-menu {
    &__content {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        overscroll-behavior: contain auto;
    }

	&__list { 
        display: flex;
        justify-content: flex-start;
        background: #ffffff;
        border-bottom: 2px solid #dee2e6;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-wrap: wrap;
    }

	&__link { 
        display: inline-block;
        border-bottom: 2px solid #dee2e6;
        background: #ffffff;
        color: #6c757d;
        padding: 0.85rem;
        font-size: 16px;
        font-weight: 500;
        color: #aeaeae;
        margin: 0 0 -2px 0;

        &--active {
            color: #4f4f4f;
            border-color: #4f4f4f;
        }

        &:hover {
            border-color: #6c757d;
            color: #6c757d; 
        }

        // todo: find another color for focus and active
        &:focus {
            color: #4f4f4f;
            border-color: #4f4f4f;
        }
    }
}

.toolbar {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0px 17px;

	&__search {
        height: 35px; 
        margin-right: 25px;
        padding: 0px 38px;
        border: 1px solid #e7e8eb;
        border-radius: 3px;

        font-size: 13px;
        font-weight: 400;
        color: #aeaeae;
        font-size: 13px;

        flex: 0 1 65%;
    }

    &__controls {
        display: flex;
        justify-content: center;

        flex: 0 1 35%;
    }

	&__btn { }
}

.btn { 
    background: #fff;
    border: 1px solid #e7e8eb;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 9px;
    height: 35px;
    font-size: 13px;
    font-weight: 400;
    color: #aeaeae;
}

.title { 
    font-size: 24px;
    font-weight: 500;
    color: $light-orange;
}