@import 'projects/administration-portal/src/app/scss/abstracts/variables';

.order-list {
	&__container { 
        margin-top: 15px;
    }

	&__title { 
        margin: 0px 0px 15px 0px;
    }

	&__tab-menu { 
        display: block;
        margin: 0px 0px 25px 0px;
    }

	&__toolbar {
        display: block;
        background-color: #fbfbfb;
        border-radius: 7px;
        margin: 0px 0px 35px 0px;
    }

    &__order-table { 
        display: block;
        margin: 0px 0px 35px 0px;
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}