html{
    scroll-behavior: smooth;
}

body { 
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

body.locked {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0px auto; // centering
    padding: 0px 15px;
}
@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }
}

.m-conteiner {
    max-width: 992px;
    margin: 0px auto; // centering
    padding: 0px 15px;
}

p {
   margin: 0px 0px .75rem 0px;
}

.title-underlined {
    font-size: 2.5rem;
    line-height: 1.125;
    text-align: center;

    &::after {
        content: '';
        display: block;
        width: 100px;
        height: 3px;
        background-color: $light-orange;
        margin: 15px auto;
    }
}

.text {
    font-size: 1.10rem; // 17,6
    line-height: 1.5;
}