.header {
    background-color: #262626;
    border-bottom-color: #3a3a3a;
    border-bottom: 1px solid #eee;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 2.5rem;
    }

    &__item {
        font-size: 14px;
        color: #ffffff;

        a:hover {
            color: #d5d5d5;
        }
    }
}

.menu-links {
    a {
        padding: 0 0.563rem;
    }
}

.social-links {
    &__image{
        width: 35px;
        height: 22px;
        padding: 0 5px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &--tight {
            padding: 0 6px;
        }
    }
}

.header__menu-links{
    @media (max-width:992px) {
        display: none;
    }
}

.header__social-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width:992px) {
        display: none;
    }
}