<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__item">
        <div class="header__menu-links menu-links">
          <a href="">О нас</a> |
          <a href="">Доставка</a> |
          <a href="">Оплата</a>
        </div>
      </div>

      <div class="header__item">
        <a href="">Вакансии в пекарне «Крама Алёны»</a>
      </div>

      <div class="header__item">
        <div class="header__social-links social-links">
          <a class="social-links__link" href="">
            <div class="social-links__image">
              <img 
                src="/assets/icons/viber.png" 
                alt="viber"
              >
            </div>
          </a>
          <a class="social-links__link" href="">
            <div class="social-links__image">
              <img 
                src="/assets/icons/tiktok.png" 
                alt="tiktok"
              >
            </div>
          </a>
          <a class="social-links__link" href="">
            <div class="social-links__image social-links__image--tight">
              <img 
                src="/assets/icons/instagram.png" 
                alt="instagram"
              >
            </div>
          </a>
          <a class="social-links__link" href="">
            <div class="social-links__image social-links__image--tight">
              <img 
                src="/assets/icons/telegram.png" 
                alt="telegram"
              >
            </div>
          </a>
          <a class="social-links__link" href="">
            <div class="social-links__image social-links__image--tight">
              <img 
                src="/assets/icons/youtube.png" 
                alt="youtube"
              >
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
