.header {
    background-color: #262626;
    border-bottom-color: #3a3a3a;
    border-bottom: 1px solid #eee;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 2.5rem;
    }

    &__item {
        font-size: 14px;
        color: #ffffff;

        a:hover {
            color: #d5d5d5;
        }
    }
}

.menu-links {
    a {
        padding: 0 0.563rem;
    }
}

.social-links {
    &__image{
        display: inline;
        width: 35px;
        padding: 0 5px;
    }
}

.header__menu-links{
    @media (max-width:992px) {
        display: none;
    }
}

.header__social-links {
    @media (max-width:992px) {
        display: none;
    }
}