<section class="toolbar">
  <div class="toolbar__row">
    <div class="toolbar__controls">
      <button class="toolbar__btn btn-icon">
        <img src="/assets/icons/add.png">
        НОВЫЙ ПРОДУКТ
      </button>
      <button class="toolbar__btn btn-icon">
        <img src="/assets/icons/filter.png">
        Фильтр
      </button>
    </div>
    <div class="toolbar__search search">
      <img class="search__image" src="/assets/icons/search.png"/>
      <input 
        type="search"
        class="search__input" 
        [(ngModel)]="searchTerm"
        (input)="search()"
        placeholder="Поиск по Имени Продукта"
      />
    </div>
  </div>
</section>