<article 
  class="confection-detail" 
  *ngIf="!isLoading && confection; else confectionLoading"
>
  <div class="confection-detail__row">
    <div class="confection-detail__image">
      <img 
        *ngIf="confection.pictures[0] as picture; else noPictureFound"
        referrerPolicy="no-referrer"
        [src]="picture.url" 
        [alt]="confection.name"
      >
      <ng-template #noPictureFound>
        <img src="/assets/images/no_image_available.png" alt="Нет картинки">
      </ng-template>
    </div>
    <div class="confection-detail__body">
      <h3 class="confection-detail__title">{{ confection.name }}</h3>
      <div class="confection-detail__details">
        <ul class="nav-tab confection-detail__pivot">
          <li class="nav-tab__item">
            <a class="nav-tab__link">Описание</a>
          </li>
        </ul>
        <div class="confection-detail__description text">
          <p>{{ confection.description }}</p>
        </div>
      </div>
      <div class="confection-detail__weight">Масса: {{ confection.weight }} гр</div>

      <div class="confection-detail__price">
        <p class="confection-detail__price--lable">За единицу</p>
        {{ confection.price }} р.
      </div>

      <div 
        *ngIf="confection.isOrderCountLimited"
        class="confection-detail__limitaion-lable"
      >
        * Минимальный заказ - {{ confection.minimumOrderCount }} шт.
      </div>

      <form class="confection-detail__form">
        <div class="confection-detail__quantity-counter">
          <input 
            type="number" 
            [(ngModel)]="confectionCount"
            [min]="confection.minimumOrderCount"
            name="quantity-counter"
          >
        </div>
        <button 
          type="button" 
          class="confection-detail__order-button btn"
          (click)="orderConfection()"
        >ЗАКАЗАТЬ ТОВАР</button>
      </form>

      <div class="confection-detail__delivery-section delivery-section">
        <div class="delivery-section__item">
          <span class="delivery-section__pickup-icon"></span>
          <p>
            Возможность <br>
            самовызова
          </p>
        </div>
        <div class="delivery-section__item">
          <span class="delivery-section__delivery-icon"></span>
          <p>
            Персональная <br>
            доставка
          </p>
          
        </div>
        <div class="delivery-section__item">
          <span class="delivery-section__yandex-icon"></span>
          <p>
            Яндекс <br>
            Доставка
          </p>
        </div>
      </div>
      
    </div>
  </div>
</article>

<ng-template #confectionLoading>
  <app-progress-spinner></app-progress-spinner>
</ng-template>

<app-popup *ngIf="isDisplayModal" title="Заказать продукт">
  <app-order-confection 
    [confectionId]="confectionId" 
    [quantityOrder]="confectionCount"
  ></app-order-confection>
</app-popup>
