<form 
  class="form" 
  [formGroup]="form" 
  (ngSubmit)="submit()"
>
  <input 
    type="text"
    class="form__input"
    placeholder="Название продукта"
    formControlName="title"
  >

  <div *ngIf="title.touched && title.invalid">
    <p class="error-message" *ngIf="title.errors!['required']">Пожалуйста, введите название продукта</p>
    <p class="error-message" *ngIf="title.errors!['minLength']">Наименование продукта слишком коротное</p>
  </div>

  <textarea 
    type="text"
    class="form__input"
    placeholder="Описание продукта"
    formControlName="description"
  ></textarea>

  <div *ngIf="description.touched && description.invalid">
    <p class="error-message" *ngIf="description.errors!['required']">Пожалуйста, введите описание продукта</p>
    <p class="error-message" *ngIf="description.errors!['minLength']">Описание продукта слишком короткое</p>
    <p class="error-message" *ngIf="description.errors!['maxLength']">Описание продукта слишком длинное</p>
  </div>

  <input
    type="number"
    class="form__input"
    placeholder="Цена"
    formControlName="price"
  >

  <div *ngIf="price.touched && price.invalid">
    <p class="error-message" *ngIf="price.errors!['required']">Пожалуйста, введите цену продукта</p>
    <p class="error-message" *ngIf="price.errors!['min']">Цена не может меньше или равна 0</p>
    <p class="error-message" *ngIf="price.errors!['max']">Цена слишком большая</p>
  </div>

  <input 
    type="file"
    accept="image/*"
    class="form__input"
    placeholder="Картинка"
    formControlName="imageUrl"
  >

  <div *ngIf="imageUrl.touched && imageUrl.invalid">
    <p class="error-message" *ngIf="price.errors!['required']">Пожалуйста, добавьте картинку</p>
  </div>

  <button
    type="submit"
    class="form__button"
    [disabled]="!form.valid"
  >Добавить</button>
</form>
