@import 'abstracts/variables';

.scroll-sidebar {
    display: none;
    position: fixed;
    width: 55px;
    height: 100vh;
    left: 0;
    top: 70px;
    background-color: $transparent-gray;
    z-index: 10;
    cursor: pointer;

    &:hover{
        transition: 0.225s ease-in-out;
        background-color: rgba(72, 72, 72, 0.450);
    }

	&__content {
        position: relative;
        height: 100%;
    }

    &__icon {
        position: absolute;
        top: 125px;
        left: 18.25px;
        background-image: url('/assets/icons/arrow.svg');
        background-size: 18.5px 42px;
        width: 18.5px;
        height: 42px;
    }

    &--visible{
        display: block;
    }
}

@media (max-width:767px) {
    .scroll-sidebar {
        right: 10px;
        bottom: 10px;
        top: auto;
        left: auto;
        width: 55px;
        height: 55px;
        background-color: #c4c4c4;
        border-radius: 50%;
        box-shadow: 2px 7px 15px $shadow;
        overflow: hidden;

        &__icon {
            left: 17.5px;
            top: 17.5px;
            background-image: url('/assets/icons/arrow_up_white.svg');
            background-size: 20px 20px;
            width: 20px;
            height: 20px;
        }
    }
}