@import 'projects/administration-portal/src/app/scss/abstracts/variables';

.pagination {
    font-size: 0.9375rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.4px;
    line-height: 20px;

	&__items { 
        display: flex;
        align-items: center;
        padding: 0.75rem 0px;
    }

    &__page-size { 
        display: flex;
    }

	&__page-size-label { }
	&__page-size-value { }

    &__range-label { 
        margin: 0 2rem 0 1.5rem;
    }

	&__actions { 
        display: flex;
    }

    &__item {
        margin: 0px 8px 0px 0px;

        &:last-child {
            margin: 0px;
        }
    }

	&__btn {
        width: 34px;
        height: 34px;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.42;
        color: $dark-gray;
        background-color: white;
        border: 1px solid $gray-stroke;
        transition: border-color .3s ease 0s;

		&--arrow-left,
        &--arrow-right { 
            position: relative;
        }

        &--arrow-right::before {
            display: inline-block;
            content: '';
            background: url('/assets/icons/vector-right.png') no-repeat;
            background-size: 7.41px 12px;
            height: 12px;
            width: 7.41px;
            margin: 5px 0px 0px 2px;
        }

        &--arrow-left::before {
            display: inline-block;
            content: '';
            background: url('/assets/icons/vector-left.png') no-repeat;
            background-size: 7.41px 12px;
            height: 12px;
            width: 7.41px;
            margin: 5px 2px 0px 0px;
        }

		&--number { }
		&--more { }

        &--active {
            background-color: $lightest-gray-alfa650;
        }

        &:disabled {
            background-color: $gray-stroke;
            pointer-events: none;
        }

        @media (min-width: $md3) {
            &:hover {
                border-color: #9b9a9a;
            }
        }
	}
}