<section class="pagination">
  <div class="pagination__items">
    <div class="pagination__item">
      <button class="pagination__btn pagination__btn--arrow-left pagination__btn--disabled"></button>
    </div>
    <div class="pagination__item">
      <button class="pagination__btn pagination__btn--number">{{ paginationStartNumber }}</button>
    </div>
    <div class="pagination__item">
      <button class="pagination__btn pagination__btn--more">...</button>
    </div>
    <div class="pagination__item">
      <button class="pagination__btn pagination__btn--number"> {{ paginationEndNumber }} </button>
    </div>
    <div class="pagination__item">
      <button class="pagination__btn pagination__btn--arrow-right"></button>
    </div>
  </div>
</section>