@import 'projects/administration-portal/src/app/scss/abstracts/variables';
@import 'projects/administration-portal/src/app/scss/abstracts/mixins';

.pagination {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.0285em;
    line-height: 1.429em;

    background-color: white;
    color: rgba(0, 0, 0, 0.87);

	&__items { 
        display: flex;
        align-items: center;
        padding: 0.75rem 0px;
    }

    &__page-size { 
        display: flex;
    }

    &__range-label { 
        margin: 0 2rem 0 1.5rem;
    }

	&__actions { 
        display: flex;
    }

    &__item {
        margin: 0px .5rem 0px 0px;

        &:last-child {
            margin: 0px;
        }
    }

	&__btn {
        width: 48px;
        height: 48px;
        background-color: white;
        border-radius: 20%;

        transition: background-color .3s ease 0s;

		&--arrow-next,
        &--arrow-previous,
        &--arrow-first,
        &--arrow-last { 
            position: relative;
        }

        &--arrow-next::before,
        &--arrow-previous::before {
            display: inline-block;
            content: '';
            background-size: 7.8px 12px;
            height: 12px;
            width: 7.8px;
            margin: 5px 0px 0px 2px;
            
            @include colored-icon('/assets/icons/vector-next.svg', $medium-gray);
        }

        &--arrow-first::before,
        &--arrow-last::before {
            display: inline-block;
            content: '';
            background-size: 11.5px 14px;
            height: 14px;
            width: 11.5px;
            margin: 5px 0px 0px 0px;

            @include colored-icon('/assets/icons/vector-taget.svg', $medium-gray);
        }

        &--arrow-previous::before,
        &--arrow-first::before {
            transform: scale(-1, 1);
        }

        &:disabled {
            cursor: default;
            pointer-events: none;
 
            &.pagination__btn--arrow-next::before,
            &.pagination__btn--arrow-previous::before,
            &.pagination__btn--arrow-first::before,
            &.pagination__btn--arrow-last::before { 
                background-color: $gray-stroke;
            }
        }

        @media (min-width: $md3) {
            &:hover {
                background-color: $lightest-gray-alfa650;
            }

            &:active {
                background-color: $gray-stroke;
            }
        }
	}
}