<section class="toolbar">
  <div class="toolbar__row">
    <div class="toolbar__search-container">
      <img class="toolbar__search-image" src="/assets/icons/search.png"/>
      <input placeholder="Поиск по Идентификатору, Email, Продукту и другому" class="toolbar__search"/>
    </div>

    <div class="toolbar__controls">
      <button class="toolbar__btn btn">
        <img 
          class="toolbar__btn-icon" 
          src="/assets/icons/filter.png"
        >
        Фильтр
      </button>
      <button class="toolbar__btn btn">
        <img 
          class="toolbar__btn-icon" 
          src="/assets/icons/attachment.png"
        >
        Прикрепить
      </button>
      <button class="toolbar__btn btn">
        <img 
          class="toolbar__btn-icon" 
          src="/assets/icons/export.png"
        >
        Экспорт
      </button>
    </div>
  </div>
</section>